*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    user-select: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    color: #fff;
    z-index: 1000;
    padding: 10px 5px;
    height: 75px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    transition: 300ms;
    text-align: center;
}

header.shrink {
    padding: 10px 5px;
    height: 60px;
    line-height: 80px;
    background: black;
    font-size: 24px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    transition: 300ms;
    box-shadow: 0 0 4px black;
}

header {
    font-size: 30px;
    font-weight: normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    user-select: none;
    padding-right: 0;
    padding-left: 0;
}

a {
    color: inherit;
}

.container-header {
    height: 100%;
}

.header-brand {
    width: 90px;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: #1a273f;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}

.header-menu {
    width: 350px;
    height: 100%;
    padding: 0;
    line-height: normal;
    margin: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

.header-lang {
    width: 12.5%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.brand-text {
    color: white;
    font-family: "Palatino Linotype";
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    font-style: italic;
    cursor: pointer;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.brand-text-e {
    font-size: 20px !important;
    line-height: 22px !important;
    -webkit-transition: 300ms !important;
    -moz-transition: 300ms !important;
    -ms-transition: 300ms !important;
    -o-transition: 300ms !important;
    transition: 300ms !important;
}

.header-menu ul {
    display: flex;
    display: -webkit-flex;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.header-menu li {
    display: inline-flex;
    display: -webkit-inline-flex;
    color: black;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    line-height: 52px;
    border: 4px solid transparent;
}

.white {
    color: white !important;
}

#hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    -o-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}





/* ALL */

.row .three {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #ecf0f1;
    text-align: center;
}

.hamburger .line {
    width: 35px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    display: block;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger {
    display: none;
}





/*END HEADER*/

a.link-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 100%;
}

.index-bg {
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
}

.header-menu>li {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu>li>img {
    height: 27px;
    width: 32px;
    margin-right: 10px;
}

.index-content {
    height: 100%;
    background-image: url(../img/plane.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 85%;
    background-position-y: 70%;
    transition: 300ms;
}

.index-header {
    width: 50%;
    margin-top: 20vh;
    font-size: 38px;
    font-weight: 700;
    line-height: 68px;
    color: white;
}

.index-description {
    font-size: 19px;
    font-weight: 400;
    line-height: 34px;
    color: white;
    width: 50%;
}

.block-form {
    background-color: #f1f1f1;
    height: auto;
    padding: 0;
}

.block-form-content {
    height: 100%;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #ff8102;
    font-size: 17px;
    font-weight: 400;
    margin-right: 25px;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #2f60eb;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.form-content-direction {
    display: flex;
    padding: 20px 0;
    padding-bottom: 10px;
    align-items: center;
}

.form-content-main-label {
    color: #343434;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
}

.form-content-main-labels {
    display: flex;
    flex-direction: column;
}

select#s1 {
    width: 100%;
    border-right: 1px solid #999;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select#s2 {
    width: 100%;
    border-right: 1px solid #999;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select#s3 {
    width: 100%;
    border-right: 1px solid #999;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select#s4 {
    width: 100%;
    border-right: 1px solid #999;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select#s5 {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../img/ch_d.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 97%;
}

.form-content-main-labels:nth-child(1) {
    width: 25%;
}

.form-content-main-labels:nth-child(2) {
    width: 25%;
}

.form-content-main-labels:nth-child(3) {
    width: 12.5%;
}

.form-content-main-labels:nth-child(4) {
    width: 12.5%;
}

.form-content-main-labels:nth-child(5) {
    width: 25%;
}

.form-content-main-inputs {
    display: flex;
    flex-flow: row wrap;
}

.form-content-main-labels>select {
    border: none;
    height: 50px;
    outline: none;
    color: #2f60eb;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 10px;
    background-color: white;
}




/*CHECKBOX START*/

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox+label {
    position: relative;
    cursor: pointer;
    color: #343434;
    font-size: 14px;
    font-weight: 400;
    width: 50%;
    padding: 5px 0;
}

.styled-checkbox+label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    position: relative;
    background: white;
    top: 3px;
}

.styled-checkbox:hover+label:before {
    background: rgba(47, 96, 235, 0.7);
}

.styled-checkbox:focus+label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked+label:before {
    background: #2f60eb;
}

.styled-checkbox:disabled+label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled+label:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked+label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 15px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-content-main-submit-checkbox-row {
    display: flex;
    width: 60%;
    flex-direction: row;
    flex-flow: row wrap;
    padding: 15px 0px;
}



/*CHECKBOX END*/

.form-content-main-submit-button>button {
    width: 120px;
    height: 50px;
    background-color: #ff8102;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.form-content-main-submit-button {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: center;
}

.form-content-main-submit-row {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.popular-block {
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
}

.popular-content {
    background-image: url(../img/plane2.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom left;
    padding: 60px 0 20px 0;
}

.popular-content-header {
    color: #2f60eb;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.popular-content-excerpt {
    display: flex;
    justify-content: center;
    color: #ff8102;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    padding: 10px 0 10px 0;
}

.popular-content-excerpt-left {
    position: relative;
    padding-right: 10px;
}

.popular-content-excerpt-right {
    padding-left: 8px;
}

.popular-content-excerpt-left:before {
    content: "";
    position: absolute;
    height: 15px;
    border-right: 2px solid;
    top: 11px;
    width: 100%;
}

.popular-content-image-tile {
    height: auto;
    padding: 0 2.5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.popular-content-image {
    height: 420px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#pci1 {
    background-image: url(../img/pop1.png);
}

#pci2 {
    background-image: url(../img/pop2.png);
}

#pci3 {
    background-image: url(../img/pop3.png);
}

#pci4 {
    background-image: url(../img/pop1.png);
}

#pci5 {
    background-image: url(../img/pop4.png);
}

#pci6 {
    background-image: url(../img/pop5.png);
}

#pci7 {
    background-image: url(../img/pop6.png);
}

#pci8 {
    background-image: url(../img/pop1.png);
}

.popular-content-description {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    align-items: flex-start;
    justify-content: flex-end;
}

.popular-content-description-name {
    color: #343434;
    line-height: 24px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 0 10px;
    width: 100%;
    margin-bottom: 3px;
}

.thin {
    font-size: 22px;
    font-weight: 400;
}

.popular-content-description-hr {
    width: 50px;
    border-top: 4px solid #ff8400;
    margin: 3px 10px 3px 10px;
}

.popular-content-description-prices {
    color: #ff8400;
    font-size: 17px;
    font-weight: 700;
    padding: 0 10px;
    width: 100%;
    background-image: url(../img/ic-next.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 66%;
    background-size: 7%;
    margin-bottom: 9px;
    margin-top: 0;
}

.search-all {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(47, 96, 235, 0.65);
    color: #2f60eb;
    font-size: 17px;
    font-weight: 700;
    line-height: 36px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: 25px;
    top: 20px;
}

.october-block {
    background-image: url(../img/bg3.png);
}

.october-content {
    background-image: url(../img/plane3.png);
    background-position: bottom right;
}

.services-block {
    background: url(../img/bg4.png) 119% 37% no-repeat,
    url(../img/bg5.png) -12% 59% no-repeat,
    url(../img/plane5.png) bottom right/15% no-repeat,
    url(../img/plane4.png) top left/15% no-repeat;
    height: auto;
}

.servicer-content {
    height: auto;
    padding: 80px 0 100px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}

.service-tile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-tile-header {
    color: #343434;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}

.service-tile-description {
    font-size: 15px;
    font-weight: 400;
    color: #5c5c5c;
    text-align: center;
    margin-top: 10px;
}

.orange {
    color: #ff8400 !important;
}

.service-tile {
    margin-top: 20px;
}

.footer-menu-block.container-fluid {
    background-color: #2f60eb;
}

.footer-menu-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
}

.footer-menu-content {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    background: url(../img/fm.png) 9% 30% no-repeat, url(../img/fm.png) 46.5% 30% no-repeat, url(../img/fm.png) 77.5% 30% no-repeat;
}

.footer-menu-item {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

footer {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.footer-text {
    display: flex;
    width: 60%;
    color: #5c5c5c;
    font-size: 15px;
    justify-content: space-around;
    font-weight: 400;
}

.footer-icons {
    display: flex;
    width: 40%;
}

.footer-text-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons>ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    list-style: none;
}

.footer-icons>ul>li {
    margin-left: 25px;
}

.footer-icons>ul>li:nth-child(3) {
    margin-left: 20px;
}

footer {
    padding: 25px 0;
}

.footer-icons>ul>li>a>img {
    height: 25px;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}




/* MODAL WINDOW*/

.close {
    position: absolute;
    top: 10px;
    font-size: 16px;
    right: 5px;
    color: #999;
    cursor: pointer;
    background: none;
    border: none;
}




/**
 *  Custom Modal
 */

.modal-frame {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    visibility: hidden;
}

.modal-body {
    top: 50%;
    left: 50%;
    width: 630px;
    border-radius: 0;
    background: #FFF;
    position: fixed;
    height: 458px;
    margin-left: -315px;
    z-index: 100;
    margin-top: -229px;
}


.modal-inner {
    padding: 50px;
    opacity: 0;
    -webkit-transform: scale(.5);
    -webkit-transition: .2s ease-in-out;
    -moz-transform: scale(.5);
    -moz-transition: .2s ease-in-out;
    -ms-transform: scale(.5);
    -ms-transition: .2s ease-in-out;
    -o-transform: scale(.5);
    -o-transition: .2s ease-in-out;
    transform: scale(.5);
    transition: .2s ease-in-out;
}




/**
 *  Modal overlay
*/

.modal-overlay {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: #333;
    -webkit-transition: .15s ease-in-out;
    -moz-transition: .15s ease-in-out;
    -ms-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}

.modal-inner {
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
    transform: scale(.95);
}



/**
 *  Enter states
 */

.modal-frame.active {
    visibility: visible;
    height: inherit;
    display: block;
}

.modal-frame.active .modal-body {
    -webkit-animation: popperIn .45s;
    -moz-animation: popperIn .45s;
    -ms-animation: popperIn .45s;
    -o-animation: popperIn .45s;
    animation: popperIn .45s;
}

@-webkit-keyframes popperIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.06);
    }
    40% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes popperIn {
    0% {
        opacity: 0;
        -moz-transform: scale(1.06);
    }
    40% {
        opacity: 1;
    }

    100% {
        -moz-transform: scale(1);
    }
}

@keyframes popperIn {
    0% {
        opacity: 0;
        transform: scale(1.06);
    }
    40% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes popperOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    30% {
        opacity: 1;
    }
    40% {
        -webkit-transform: scale(1.05);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.15);
    }
}

@-moz-keyframes popperOut {
    0% {
        opacity: 1;
        -moz-transform: scale(1);
    }
    30% {
        opacity: 1;
    }
    40% {
        -moz-transform: scale(1.05);
    }

    100% {
        opacity: 0;
        -moz-transform: scale(1.15);
    }
}

@keyframes popperOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    30% {
        opacity: 1;
    }
    40% {
        transform: scale(1.05);
    }

    100% {
        opacity: 0;
        transform: scale(1.15);
    }
}

.modal-frame.active .modal-inner {
    opacity: 1;
    -webkit-transform: scale(1);
    -webkit-transition: .15s ease-in-out;
    -webkit-transition-delay: .13s;
    -moz-transform: scale(1);
    -moz-transition: .15s ease-in-out;
    -moz-transition-delay: .13s;
    -ms-transform: scale(1);
    -ms-transition: .15s ease-in-out;
    -ms-transition-delay: .13s;
    -o-transform: scale(1);
    -o-transition: .15s ease-in-out;
    -o-webkit-transition-delay: .13s;
    transform: scale(1);
    transition: .15s ease-in-out;
    transition-delay: .13s;
}

.modal-frame.active .modal-overlay {
    opacity: .5;
    visibility: visible;
}



/**
 *  Leave States
*/

.modal-frame.leave .modal-body {
    opacity: 0;
    -webkit-animation: popperOut .5s;
    -webkit-transition: .3s ease-in-out;
    -webkit-transition-delay: .2s;
    -webkit-transform: scale(.95);
    -moz-animation: popperOut .5s;
    -moz-transition: .3s ease-in-out;
    -moz-transition-delay: .2s;
    -moz-transform: scale(.95);
    -ms-animation: popperOut .5s;
    -ms-transition: .3s ease-in-out;
    -ms-transition-delay: .2s;
    -ms-transform: scale(.95);
    animation: popperOut .5s;
    transition: .3s ease-in-out;
    transition-delay: .2s;
    transform: scale(.95);
}

.modal-frame.leave .modal-inner {
    opacity: 0;
    -webkit-transform: scale(.95);
    -webkit-transition: .15s ease-in-out;
    -moz-transform: scale(.95);
    -moz-transition: .15s ease-in-out;
    -ms-transform: scale(.95);
    -ms-transition: .15s ease-in-out;
    -o-transform: scale(.95);
    -o-transition: .15s ease-in-out;
    transform: scale(.95);
    transition: .15s ease-in-out;
}

.modal-header {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f60eb;
    height: 60px;
}

.modal-cross {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0;
    right: 0;
    background-image: url(../img/cross.png);
    background-repeat: no-repeat;
}

.modal-cross {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0;
    right: 0;
    background-image: url(../img/cross.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.blue {
    color: #2f60eb !important;
}

.modal-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 317px;
    flex-flow: row wrap;
    padding: 25px 25px 25px 40px;
}

.modal-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-flow: row wrap;
    padding: 25px 40px 25px 25px;
}

.modal-left-header {
    font-size: 16.5px;
    font-weight: 600;
    line-height: 18px;
    width: 100%;
}

.modal-left-hr {
    width: 70px;
    border-top: 3px solid #2f60eb;
    margin-top: 10px;
}

.modal-left-content {
    color: #343434;
    font-size: 12.7px;
    font-weight: 400;
    letter-spacing: -0.4px;
    margin-top: 5px;
    line-height: 16px;
}

.modal-left-social-stack {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modal-left-social {
    height: 36px;
    width: 36px;
    border-radius: 50px;
    background-color: #2f60eb;
    margin-top: 20px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    cursor: pointer;
}

.modal-left-social:nth-child(1) {
    background-image: url(../img/fb.svg);
}

.modal-left-social:nth-child(2) {
    background-image: url(../img/ok.svg);
}

.modal-left-social:nth-child(3) {
    background-image: url(../img/vk.svg);
}

form.modal-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.modal-label {
    color: #5c5c5c !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    margin-top: 7px !important;
}

.modal-input {
    border-radius: 5px;
    border: 1px solid #5c5c5c;
    height: 33px;
    outline-style: none;
    outline: none;
    padding: 0 10px;
    font-size: 15px;
}

.modal-label-pass {
    width: 50%;
}

.modal-label-pass:nth-child(2) {
    text-align: right;
    color: #ff8102;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.modal-label-pass-block {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.modal-content {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.lfw {
    font-weight: 500 !important;
}

.bfw {
    font-weight: 600 !important;
}

.orange {
    color: #ff8102 !important;
}

.cp {
    cursor: pointer;
}

.modal-checkbox+label:before {
    background: #b2afaf;
    margin-right: 5px;
    float: left;
}

.modal-checkbox+label {
    width: 100%;
    font-size: 11.7px !important;
    line-height: 11px;
}

.bu {
    color: #2f60eb;
}

.bu:hover {
    text-decoration: underline;
}

.modal-footer {
    height: 60px;
    background: #2f60eb;
    width: 315px;
    position: relative;
    left: -25px;
    margin-top: 7px;
    display: flex;
    padding-left: 40px;
    padding-right: 25px;
    align-items: center;
}

.modal-footer-left {
    top: 40px;
    left: -40px;
}

.modal-footer-submit {
    background: transparent;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 50px;
    padding: 8px 12px;
    width: 100%;
    outline: none;
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-position-x: 215px;
}

.modal-footer-right {
    padding-left: 25px;
    padding-right: 40px;
}
.reg {
    color: #ff8102;
    width: 100%;
    cursor: pointer;
    text-align: right;
    font-size: 13px;
    height: 30px;
    font-weight: 600;
    position: relative;
    display: none;
    position: relative;
    bottom: 48px;
}
.slideOutLeft {
    position: relative;
    transition-timing-function: ease-in;
    transition: 0.3s;
    transform: translateX(-100%);
}
.modal-arrow {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 3px;
    left: 5px;
    background-image: url(../img/arrow-left.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: none;
}
.br-modal{
    display: none;
}
/* END MODAL WINDOW*/