/* Large Devices, Wide Screens */

@media only screen and (max-width: 1199px) {
    .index-content {
        height: 100%;
        background-image: url(../img/plane.svg);
        background-size: 55%;
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: 92%;
        background-position-y: 67%;
        transition: 300ms;
    }
    .popular-content-description-prices {
        font-size: 14px;
        padding: 0 10px;
        width: 100%;
        background-position-x: 67%;
        background-size: 6%;
        margin-bottom: 5px;
    }
    .popular-content-description-name {
        color: #343434;
        line-height: 22px;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: -1px;
        padding: 0 10px;
        width: 100%;
        margin-bottom: 3px;
    }
    .thin {
        font-size: 15px;
        font-weight: 400;
    }
    .popular-content-description {
        padding: 0;
    }
    .popular-content-image {
        background-image: url(../img/pop1.png);
        height: 348px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .services-block {
    background: url(../img/bg4.png) 119% 25% no-repeat, url(../img/bg5.png) -12% 75% no-repeat, url(../img/plane5.png) bottom right/15% no-repeat, url(../img/plane4.png) top left/15% no-repeat;
    height: auto;
}
.footer-menu-content {
    background: url(../img/fm.png) 5% 30% no-repeat, url(../img/fm.png) 45.5% 30% no-repeat, url(../img/fm.png) 78% 30% no-repeat;
}
}






/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {
    .hamburger {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 100%;
        float: right;
    }
    .header-menu ul {
        flex-direction: column;
    }
    .header-menu {
        width: 100%;
        position: fixed;
        left: 0;
        background: black;
        flex-direction: column;
        top: 75px;
        height: 120px;
        z-index: 9999;
        display: flex;
        justify-content: space-around;
    }
    .header-menu li {
        line-height: 35px;
        color: white;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        width: 100%;
    }
    .brand-text {
        color: black;
        -webkit-transition: 150ms;
        -o-transition: 150ms;
        transition: 150ms;
    }


    .shrink .container-header .brand-text {
        color: white;
        -webkit-transition: 150ms;
        -o-transition: 150ms;
        transition: 150ms;
    }

    .header-menu>li:hover {
        border-bottom: 4px solid transparent;
        border-left: 4px solid white;
        -webkit-transition: 150ms;
        -o-transition: 150ms;
        transition: 150ms;
    }
    .shrink .container-header .header-menu>li:hover {
        border-bottom: 4px solid transparent;
        border-left: 4px solid white;
        border-top: 4px solid transparent;
        -webkit-transition: 150ms;
        -o-transition: 150ms;
        transition: 150ms;
    }
    .index-description {
        width: 80%;
    }
    .index-content {
        background-size: 60%;
    }

    .form-content-main-labels:nth-child(1) {
        width: 50%;
    }
    .form-content-main-labels:nth-child(2) {
        width: 50%;
    }
    .form-content-main-labels:nth-child(3) {
        width: 25%;
    }
    .form-content-main-labels:nth-child(4) {
        width: 25%;
    }
    .form-content-main-labels:nth-child(5) {
        width: 50%;
    }
    select#s2 {
        border-right: none;
    }
    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label {
        margin-right: 0;
    }
    .form-content-direction {
        justify-content: space-between;
    }
    .form-content-main-submit-button {
        width: 20%;
    }
    .form-content-main-submit-checkbox-row {
        width: 80%;
    }
    .popular-content-image {
        height: 345px;
    }
    .popular-content-description-prices {
        font-size: 14px;
        padding: 0 10px;
        width: 100%;
        background-position-x: 58%;
        background-size: 6%;
        margin-bottom: 5px;
        background-position-x: 68%;
    }
    .popular-content-description-hr {
        width: 50px;
        border-top: 3px solid #ff8400;
        margin: 0 10px 0 10px;
    }
    .popular-content-description-name {
        color: #343434;
        line-height: 30px;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -1px;
        padding: 0 10px;
        width: 100%;
        margin-bottom: 3px;
    }
    .thin {
        font-size: 15px;
        font-weight: 400;
    }
        .popular-content-image-tile {
    display: flex;
    justify-content: center;
}
.popular-content-image {
    width: 237px;
}
.popular-content-description {
    padding: 0;
    height: 345px;
}
.services-block {
    background: url(../img/bg4.png) 12% -15% no-repeat, url(../img/bg5.png) -14% 90% no-repeat, url(../img/plane5.png) top right/18% no-repeat, url(../img/plane4.png) bottom left/18% no-repeat;
    height: auto;
}
.service-tile-description {
    padding: 0 35px;
}
.footer-menu-content {
    background: url(../img/fm.png) -2% 30% no-repeat, url(../img/fm.png) 44.5% 30% no-repeat, url(../img/fm.png) 79.5% 30% no-repeat;
}
}






/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label {
        font-size: 15px;
    }
    .styled-checkbox+label {
        width: 100%;
    }
    .form-content-main-submit-button {
        width: 20%;
        padding: 20px 0;
        align-items: flex-end;
    }
    .popular-content-description {
        width: 237px;
    }
    .popular-content-image {
        height: 345px;
        display: flex;
        justify-content: center;
    }
.service-tile-description {
    padding: 0;
}
.footer-menu-tile {
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 10px 0;
    padding: 0;
}
.footer-menu-tile:nth-child(3) {
    width: 100%;
}
.footer-menu-content {
    flex-flow: row wrap;
    background: url(../img/fm.png) 0% 11% no-repeat, url(../img/fm.png) 66% 11% no-repeat, url(../img/fm.png) 33% 82% no-repeat;
}
.footer-text {
    width: 100%;
    text-align: center;
}
.footer-icons {
    width: 100%;
    margin-top: 20px;
}
.footer-icons > ul {
    justify-content: center;
    width: 100%;
    align-items: center;
}
.footer-icons > ul > li:nth-child(1) {
    margin-left: 0;
}
.reg{
    display: block;
}
.modal-body {
    margin-left: -157.5px;
        width: 315px;
}
.modal-left {
    padding: 25px;
    width: 100%;
}
.modal-footer-left {
    top: 40px;
    left: -25px;
}
.modal-footer {
    padding-left: 25px;
    padding-right: 25px;
}
.modal-footer-submit {
    background-position-x: 228px;
}
.modal-body {
    overflow: hidden;
}
.modal-right {
    width: 100%;
    padding: 25px;
}
.modal-header {
    text-align: center;
}
.modal-content {
flex-flow: row;
}

}
@media only screen and (max-width: 532px) {
    .popular-content-image {
    width: 210px;
        height: 306px;
}
.popular-content-description {
    height: 309px;
}
.popular-content-description-prices {
    margin-bottom: 6px;
    background-position-x: 75%;
}
.popular-content-description-name {
    color: #343434;
    line-height: 22px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 0 10px;
    width: 100%;
    margin-bottom: 3px;
}
.thin {
    font-size: 14px;
    font-weight: 400;
}
.services-block {
    background: url(../img/bg4.png) 10% 176% no-repeat, url(../img/bg5.png) 50% 135% no-repeat, url(../img/plane5.png) top right/18% no-repeat, url(../img/plane4.png) bottom left/18% no-repeat;
    height: auto;
}
.modal-header {
    text-align: center;
}

}
@media only screen and (max-width: 635px) {
    .footer-menu-tile {
    width: 100%;
}
.footer-menu-content {
    flex-flow: row wrap;
    background: url(../img/fm2.png) 31% 5% no-repeat, url(../img/fm2.png) 31% 47% no-repeat, url(../img/fm2.png) 31% 88% no-repeat;
}
.footer-menu-item {
    font-size: 17px;
}
}
@media only screen and (max-width: 520px) {
    .form-content-main-labels:nth-child(1) {
        width: 100%;
    }
    .form-content-main-labels:nth-child(2) {
        width: 100%;
    }
    .form-content-main-labels:nth-child(3) {
        width: 50%;
    }
    .form-content-main-labels:nth-child(4) {
        width: 50%;
    }
    .form-content-main-labels:nth-child(5) {
        width: 100%;
    }
    select#s1 {
        border-right: none;
    }
    select#s4 {
        border-right: none;
    }
    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label {
        font-size: 15px;
        font-weight: 400;
        margin-right: 25px;
        text-align: center;
    }
    [type="radio"]:checked+label:before,
    [type="radio"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        top: 10px;
    }
    [type="radio"]:checked+label:after,
    [type="radio"]:not(:checked)+label:after {
        content: '';
        position: absolute;
        top: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .index-content {
        background-size: 49%;
        background-position-y: 88%;
    }
    .index-description {
        width: 100%;
    }
    .form-content-direction {
        flex-flow: row wrap;
        flex-direction: column;
        align-items: flex-start;
    }
    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label {
        font-size: 15px;
        font-weight: 400;
        margin-right: 25px;
        text-align: center;
        margin-bottom: 5px;
    }
    [type="radio"]:checked+label:before,
    [type="radio"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        top: 1px;
    }
    [type="radio"]:checked+label:after,
    [type="radio"]:not(:checked)+label:after {
        content: '';
        position: absolute;
        top: 6px;
    }
    .form-content-main-submit-checkbox-row {
        width: 100%;
    }
    .form-content-main-submit-button {
        width: 100%;
        padding-top: 0;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 20px;
    }
}






/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {

    .index-bg {
        height: 480px;
    }
    .popular-content-header {
    font-size: 30px;
    letter-spacing:normal;
    line-height: 29px;
}
.modal-header {
    font-size: 12px;
    height: 40px;
}
.br-modal{
    display: block;
}
.modal-left {
    padding: 15px 20px 15px 20px;
    width: 100%;
}
.modal-left-social-stack {
    height: 40px;
}
.reg {
    display: block;
    bottom: 45px;
}
.modal-footer-left {
    left: -20px;
    position: relative;
    margin-top: 0px;
}
.modal-body {
    height: 395px;
    margin-top: -160px;
}
.modal-right {
    width: 100%;
    padding: 11px 20px 0 20px;
}
.modal-footer {
    left: -20px;
}
form.modal-form {
margin-top: 0;
}
.modal-right-hr {
    margin-top: 6px;
}
.modal-label-left {
    margin-top: 7px !important;
}
}